.gameDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.box {
  padding: 60px;
  cursor: pointer;
}
